<router-outlet></router-outlet>

<p-sidebar [(visible)]="sidebarVisible" styleClass="custom-sidebar">
  <h1 class="sidebar-title">Menu</h1>
  <p class="link-container">
    <a routerLink="/main" class="sidebar-link">Trang chủ</a>
    <a routerLink="/data-table" class="sidebar-link">Quản lí đoàn ra</a>
    <a routerLink="/doanvao" class="sidebar-link">Quản lí đoàn vào</a>
    <a routerLink="/login" class="sidebar-link">Đăng xuất</a>
  </p>

</p-sidebar>

<div>
  <p-button (onClick)="sidebarVisible = true" class="toggle-button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor">
    <path d="M3 12h18M3 6h18M3 18h18"/>
  </svg></p-button>
</div>
