<div class="container">
  <div class="form">
    <h2>Đăng kí</h2>
    <form (ngSubmit)="onSubmit()">
      <input type="text" [(ngModel)]="userData.username" name="fullName" placeholder="Họ và tên" required>
      <input type="email" [(ngModel)]="userData.email" name="email" placeholder="Email" required>
      <input type="password" [(ngModel)]="userData.password" name="password" placeholder="Mật khẩu" required>
      <button type="submit">Đăng kí</button>
    </form>
    <p class="toggle">
      <a routerLink="/login">Đã có tài khoản? Đăng nhập</a>
    </p>
  </div>
</div>