<div class="form-container">
    <form (ngSubmit)="saveData()">
        <div class="form-actions">

            <div style="max-height:72px;display: flex;">
                <a href="/doanvao" class="btn btn-back" style="margin-left: 10px;">

                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="16" height="16" fill="currentColor">
                <path d="M11 19l-7-7 7-7v4h8v6h-8v4z"></path>
              </svg> Quay lại
                </a>

                <button type="reset" style="margin-left: 10px ;" class="btn btn-reset">
  
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="13" height="13" style="vertical-align: middle; margin-right: 5px;">
                  <path d="M0 0h24v24H0z" fill="none"/>
                  <path d="M12 4V1L8 5l4 4V6c3.3 0 6 2.7 6 6s-2.7 6-6 6-6-2.7-6-6H4c0 4.4 3.6 8 8 8s8-3.6 8-8-3.6-8-8-8z" fill="currentColor"/>
                </svg>
                Làm mới
              </button>
            </div>
            <button type="submit" style="margin-right: 8px; margin-top: 5px; padding: 10px 20px" class="btn btn-submit">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="16" height="16" fill="currentColor">
              <path d="M2 21l21-9-21-9v7l15 2-15 2v7z"></path>
            </svg>
            Lưu
          </button>
        </div>
        <section class="form-section">
            <h2 class="section-title">Thông tin cá nhân</h2>
            <div class="form-row">
                <div class="form-group">
                    <label for="hoVaTen">Họ và tên:</label>
                    <input type="text" name="hoVaTen" id="hoVaTen" [(ngModel)]="dataAdd.hoVaTen" required>
                </div>
                <div class="form-group">
                    <label for="ngaySinh">Ngày sinh:</label>
                    <input type="date" name="ngaySinh" id="ngaySinh" [(ngModel)]="dataAdd.ngaySinh" required>
                </div>
                <div class="form-group">
                    <label for="gioiTinh">Giới tính:</label>
                    <select #gioiTinh="ngModel" name="gioiTinh" id="gioiTinh" [(ngModel)]="dataAdd.gioiTinh">
  
                        <option value="Nam">Nam</option>
                        <option value="Nữ">Nữ</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="quocTich">Quốc tịch</label>
                    <input type="text" name="quocTich" id="quocTich" [(ngModel)]="dataAdd.quocTich" required>
                </div>

            </div>
        </section>

        <section class="form-group">
            <h2 class="section-title">Thông tin liên hệ</h2>
            <div class="form-row">
                <div class="form-group">
                    <label for="sdt">Số điện thoại:</label>
                    <input type="text" name="sdt" id="sdt" [(ngModel)]="dataAdd.sdt" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" [(ngModel)]="dataAdd.email" required>
                </div>
            </div>
        </section>

        <!-- <section class="form-section">
            <div class="form-row">
                <div class="form-group">
                    <div class="checkbox-group">
                        <div class="checkbox-option">
                            <input type="checkbox" name="dangvien" id="dangvien" value="V" [(ngModel)]="dataAdd.partyBranch">
                            <label for="dangvien">Đảng viên</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="PartyMer">Chức vụ Đảng (nếu có):</label>
                    <input type="text" name="PartyMember" id="PartyMember" [(ngModel)]="dataAdd.partyPosition">
                </div>
            </div>
        </section> -->

        <section class="form-section">
            <h2 class="section-title">Thông tin công việc</h2>
            <div class="form-row">
                <!-- <div class="form-group">
                    <label>Loại nhân viên:</label>
                    <div class="radio-group">
                        <div class="radio-option">
                            <input type="radio" name="jobType" id="nvHopDong" value="Nhân viên hợp đồng" [(ngModel)]="dataAdd.Employee" required>
                            <label for="nvHopDong">Nhân viên hợp đồng</label>
                        </div>
                        <div class="radio-option">
                            <input type="radio" name="jobType" id="vienChuc" value="Viên chức" [(ngModel)]="dataAdd.Employee" required>
                            <label for="vienChuc">Viên chức</label>
                        </div>
                    </div>
                </div> -->
                <div class="form-group">
                    <label for="chucDanh">Chức danh nghề nghiệp:</label>
                    <input type="text" name="chucDanh" id="chucDanh" [(ngModel)]="dataAdd.chucDanh" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="chucVu">Chức vụ chính quyền (nếu có):</label>
                    <input type="text" name="chucVu" id="chucVu" [(ngModel)]="dataAdd.chucVu">
                </div>
                <div class="form-group">
                    <label for="donViCongTac">Đơn vị công tác:</label>
                    <input type="text" name="donViCongTac" id="donViCongTac" required [(ngModel)]="dataAdd.donViCongTac">
                </div>
            </div>
        </section>

        <!-- <section class="form-section">
            <h2 class="section-title">Thông tin liên hệ</h2>
            <div class="form-row">
                <div class="form-group">
                    <label for="phoneNumber">Số điện thoại:</label>
                    <input type="number" name="phoneNumber" id="phoneNumber" [(ngModel)]="dataAdd.phoneNumber" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" [(ngModel)]="dataAdd.email" required>
                </div>
            </div>
        </section> -->

        <section class="form-section">
            <h2 class="section-title">Thông tin chuyến đi</h2>
            <!-- <div class="form-row">
                <div class="form-group">
                    <label for="Country">Quốc gia/Vùng lãnh thổ đến:</label>
                    <input type="text" name="Country" id="Country" [(ngModel)]="dataAdd.country" required>
                </div>
                <div class="form-group">
                    <label for="InvitationUnit">Tên cơ quan/Tổ chức/Cá nhân mời (nếu có):</label>
                    <input type="text" name="InvitationUnit" id="InvitationUnit" [(ngModel)]="dataAdd.invitationUnit" required>
                </div>
            </div> -->

            <div class="form-row">
                <div class="form-group">
                    <label for="tuNgay">Từ ngày:</label>
                    <input type="date" name="tuNgay" id="tuNgay" [(ngModel)]="dataAdd.tuNgay" required>
                </div>
                <div class="form-group">
                    <label for="denNgay">Đến ngày:</label>
                    <input type="date" name="denNgay" id="denNgay" [(ngModel)]="dataAdd.denNgay" required>
                </div>
                <!-- <div class="form-group">
                    <label for="monthBegin">Tháng bắt đầu:</label>
                    <input type="text" name="monthBegin" id="monthBegin" [(ngModel)]="dataAdd.monthBegin">
                </div>
                <div class="form-group">
                    <label for="thoiGianDiChuyen">Thời gian di chuyến:</label>
                    <input type="text" name="thoiGianDiChuyen" id="thoiGianDiChuyen" [(ngModel)]="dataAdd.thoigiandichuyen">
                </div> -->

            </div>

            <div class="form-group">
                <label>Mục đích chuyến đi:</label>
                <div class="radio-group purpose-group">
                    <input type="text" name="mucDich" id="mucDich" [(ngModel)]="dataAdd.mucDich" required>
                </div>
            </div>
        </section>

        <section class="form-section">
            <h2 class="section-title">Thông tin thông báo</h2>
            <div class="form-row">
                <div class="form-group">
                    <label for="thuNgoNumber">Số thông báo:</label>
                    <input type="text" name="thuNgoNumber" id="thuNgoNumber" [(ngModel)]="dataAdd.thuNgoNumber" required>
                </div>
                <div class="form-group">
                    <label for="thuNgoDate">Ngày thông báo:</label>
                    <input type="date" name="thuNgoDate" id="thuNgoDate" [(ngModel)]="dataAdd.thuNgoDate" required>
                </div>
            </div>
        </section>

        <section class="form-section funding-section">
            <h2 class="section-title">Nguồn kinh phí</h2>
            <div class="funding-group">
                <div class="form-group">
                    <label for="taiTro">Bên mời:</label>
                    <input type="text" name="taiTro" id="taiTro" [(ngModel)]="dataAdd.taiTro">
                </div>
                <div class="form-group">
                    <label for="tuTuc">Cá nhân tự túc:</label>
                    <input type="text" name="tuTuc" id="tuTuc" [(ngModel)]="dataAdd.tuTuc">
                </div>
                <div class="form-group">
                    <label for="benhVien">Bệnh viện tài trợ:</label>
                    <input type="text" name="benhVien" id="benhVien" [(ngModel)]="dataAdd.benhVien">
                </div>
                <div class="form-group">
                    <label for="giaTri">Giá trị:</label>
                    <input type="text" name="giaTri" id="giaTri" [(ngModel)]="dataAdd.giaTri">
                </div>
            </div>
        </section>

        <section class="form-section">
            <div class="form-group">
                <label>Số lần tới:</label>
                <input type="number" name="soLanToi" id="soLanToi" [(ngModel)]="dataAdd.soLanToi" required>
            </div>
            <!-- <div class="form-group">
                <label>Số ngày đã nghỉ phép trong năm:</label>
                <input type="text" name="ForeignTripCount" id="ForeignTripCount" [(ngModel)]="dataAdd.restCount" required>
            </div>
            <div class="form-group">
                <label>Người được ủy quyền:</label>
                <input type="text" name="ForeignTripCount" id="ForeignTripCount" [(ngModel)]="dataAdd.alternative" required>
            </div> -->
            <div class="form-group">
                <label>Ngày nộp báo cáo kết quả:</label>
                <input type="date" name="baoCaoSauChuyenCongTac" id="baoCaoSauChuyenCongTac" [(ngModel)]="dataAdd.baoCaoSauChuyenCongTac" required>
            </div>
        </section>



        <section class="form-section">
            <h2 class="section-title">Thông tin bổ sung</h2>
            <div class="form-row">
                <!-- <div class="form-group">
                    <label for="photoHochieu">Ngày hết hạn hộ chiếu:</label>
                    <input type="date" name="photoHochieu" id="photoHochieu" [(ngModel)]="dataAdd.photoHochieu">
                </div>
                <div class="form-group">
                    <label for="noiDung">Nội dung:</label>
                    <input type="text" name="noiDung" id="noiDung" [(ngModel)]="dataAdd.noiDung">
                </div>
                <div class="form-group">
                    <label for="tenBaoCao">Tên báo cáo:</label>
                    <input type="text" name="tenBaoCao" id="tenBaoCao" [(ngModel)]="dataAdd.tenBaoCao">
                </div>
                <div class="form-group">
                    <label for="hoanHuy">Hoãn/hủy:</label>
                    <input type="text" name="hoanHuy" id="hoanHuy" [(ngModel)]="dataAdd.hoanHuy">
                </div>
                <div class="form-group">
                    <label for="khac">Khác:</label>
                    <input type="text" name="khac" id="khac" [(ngModel)]="dataAdd.Khac">
                </div>
                <div class="form-group">
                    <label for="moiDichDanh">Mời đích danh:</label>
                    <input type="text" name="moiDichDanh" id="moiDichDanh" [(ngModel)]="dataAdd.moiDichDanh">
                </div> -->


                <div class="form-group">
                    <label for="ngayGhiTrenTT">Ngày ghi trên TT:</label>
                    <input type="date" name="ngayGhiTrenTT" id="ngayGhiTrenTT" [(ngModel)]="dataAdd.ngayGhiTrenTT">
                </div>
                <div class="form-group">
                    <label for="ngayPHTQTnhan">Ngày PHTQT nhận:</label>
                    <input type="date" name="ngayPHTQTnhan" id="ngayPHTQTnhan" [(ngModel)]="dataAdd.ngayPHTQTnhan">
                </div>
                <div class="form-group">
                    <label for="bqdpheDuyet">BQĐ phê duyệt:</label>
                    <input type="text" name="bqdpheDuyet" id="bqdpheDuyet" [(ngModel)]="dataAdd.bqdpheDuyet">
                </div>

                <div class="form-group">
                    <label for="ghiChu">Ghi chú:</label>
                    <input type="text" name="ghiChu" id="ghiChu" [(ngModel)]="dataAdd.ghiChu">
                </div>

                <div class="form-group">
                    <label for="quaTang">Quà tặng:</label>
                    <input type="text" name="quaTang" id="quaTang" [(ngModel)]="dataAdd.quaTang">
                </div>
            </div>
        </section>

    </form>

    <p class="message" *ngIf="message">{{ message }}</p>
</div>