<div class="title">Chọn Đơn vị</div>
<div class="card flex justify-center sectioncountry">

    <div class="flex flex-col gap-4 scrollable">
        <div *ngFor="let invt of categories" class="flex items-center"  style="margin-top:4px;">
            <p-checkbox class="-mb-[2px]" [inputId]="invt.key" name="group" [value]="invt" [(ngModel)]="selectedCategories"></p-checkbox>
            <label class="labelcountrychart" title="{{invt}}"> {{ invt }} </label>
        </div>
    </div>
</div>
<div style="text-align: center;"><p-button label="Chọn" [raised]="true" severity="info" (onClick)="logSelected()"/></div>