
<div class="search-container"
  style="display: flex; flex-wrap: wrap; gap: 10px; justify-content: center; align-items: center; margin-bottom: 5px;margin-top: 10px;">

  <div style="display: flex; align-items: center; gap: 5px;">
    <div class="dropdown" style="position: relative; display: inline-block;">
    </div>
  </div>

  <div style="display: flex; align-items: center; gap: 5px;">
    <label for="startDate">Từ ngày</label>
    <input
      id="startDate"
      type="date"
      [(ngModel)]="startDate"
      (keyup.enter)="filterData()"
      style="padding: 10px; width: 150px; margin-right: 10px" />
    <label for="endDate">Đến ngày</label>
    <input
      id="endDate"
      type="date"
      [(ngModel)]="endDate"
      (keyup.enter)="filterData()"
      style="padding: 10px; width: 150px;" />
      <div style="display: flex; gap: 50px; position: relative; margin-left: 10px;">
        <button (click)="toggleDropdown()"
          style="padding: 5px 10px; background-color: #28a745; color: white; border: none; border-radius: 5px; cursor: pointer;">
          Xuất Dữ Liệu
        </button>
        <div class="dropdown-content" *ngIf="isDropdownOpen"
          style="min-width: 90px; position: absolute; background-color: #f9f9f9; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 9999; top: 100%; left: 0;">
          <a (click)="exportExcel()" style="display: block; padding: 5px;">Xuất Excel</a>
          <a (click)="exportSelectedToWord()" style="display: block; padding: 5px;">Xuất Word</a>
          <a (click)="exportAllExcel()" style="display: block; padding: 5px;">Xuất tất cả (excel)</a>
        </div>
  </div>

</div>

  <!-- dropdown backup -->
  <!-- <div class="dropdown" style=" position: relative; display: inline-block; margin-right: 10px; margin-left:auto;">
    <button class="btn btn-primary" style="padding: 5px 10px;" (click)="toggleBackupDropdown()">Sao lưu dữ liệu</button>
    <div *ngIf="backupStatus" style="min-width: 150px; position: absolute; background-color: #f9f9f9; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 9999;" [ngClass]="{ 'success': isBackupSuccess, 'error': !isBackupSuccess }">

      <a (click)="triggerWeeklyBackup()" style="display: block; padding: 5px;">Dữ liệu tuần</a>
      <a (click)="triggerMonthlyBackup()" style="display: block; padding: 5px;">Dữ liệu tháng</a>
    </div>
  </div> -->

</div>

<div style="margin-left: 45px">

    <div style="display: flex; align-items: center; gap: 5px;">
      <a href="/add-data" style="padding: 5px 10px; background-color: #3db7df; color: white; border: none; border-radius: 5px; cursor: pointer;">Thêm</a>
      <button (click)="deleteSelected()"
      style="padding: 5px 10px; background-color: #d9534f; color: white; border: none; border-radius: 5px; cursor: pointer; margin-left: 15px;">
Xóa mục đã chọn
</button>
      <app-excel-import> </app-excel-import>
<div style="display: flex; align-items: center; gap: 5px; margin-left: 200px;">
  <label for="searchName"></label>
  <input
    id="searchName"
    type="text"
    [(ngModel)]="searchTerm"
    placeholder="Nhập dữ liệu cần tìm"
    (keyup.enter)="filterData()"
    style="padding: 10px; width: 300px;" />
</div>

      <div style="display: flex; align-items: center; gap: 20px;">
        <button (click)="filterData()"
          style="padding: 10px 15px; display: flex; align-items: center; gap: 8px; margin-right: 20px; color:rgb(0, 0, 0)  ">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16"
            height="16" fill="currentColor">
            <path
              d="M10 2a8 8 0 015.938 13.379l4.621 4.622a1 1 0 01-1.414 1.414l-4.622-4.621A8 8 0 1110 2zm0 2a6 6 0 100 12 6 6 0 000-12z"></path>
          </svg>
        </button>
        <div>
          <button (click)="resetFilters()"
          style="padding: 10px 15px; margin: 0 10px; background-color: #d54d4d; color: white; border: none; border-radius: 4px; display: flex; align-items: center; gap: 5px; cursor: pointer;">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16"
            height="16" fill="currentColor">
            <path
              d="M12 4V1L8 5l4 4V6c3.3 0 6 2.7 6 6s-2.7 6-6 6-6-2.7-6-6H4c0 4.4 3.6 8 8 8s8-3.6 8-8-3.6-8-8-8z"></path>
          </svg>

        </button>
        </div>
      </div>

  </div>

</div>
<div
  style="max-height: 72vh; overflow-y: auto; overflow-x: auto; margin: 50px 40px 0 40px; border: 1px solid #ffffff; border-radius: 10px;margin-top: 10px; ">
  <table class="data-table"
    style="width: 100%; border-collapse: separate; border-spacing: 0px;">
    <thead
      style="position: sticky; top: 0; background-color: #0b6ed7; color: rgb(255, 255, 255); z-index: 1;">
      <tr>
        <th data-header="checkbox" class="sticky-header">
          <input type="checkbox" [checked]="headerChecked"
            (change)="selectAll($event)">
        </th>
        <th data-header="stt">STT</th>
        <th data-header="Họ và Tên">Họ và Tên</th>
        <th data-header="Ngày sinh">Ngày sinh</th>
        <th data-header="Giới tính">Giới tính</th>
        <th data-header="Số CCCD">Số CCCD</th>
        <th data-header="Chi bộ">Đảng viên</th>
        <th data-header="Chức vụ Đảng">Chức vụ Đảng</th>
        <th data-header="Chức danh nghề nghiệp">Chức danh nghề nghiệp</th>
        <th data-header="Chức vụ chính quyền">Chức vụ chính quyền</th>
        <th data-header="Đơn vị">Đơn vị</th>
        <th data-header="Số điện thoại">Số điện thoại</th>
        <th data-header="Email">Email</th>
        <th data-header="Chứng nhận báo cáo viên">Chứng nhận báo cáo viên</th>
        <th data-header="Bằng cấp/chứng chỉ">Bằng cấp/chứng chỉ</th>
        <th data-header="Số ngày nghỉ trong năm">Số ngày nghỉ trong năm</th>
        <th data-header="Đơn vị mời">Đơn vị mời</th>
        <th data-header="Mời đích danh">Mời đích danh</th>
        <th data-header="Tên tổ chức/cá nhân mời">Tên tổ chức/cá nhân mời</th>
        <th data-header="Mục đích chuyến đi">Mục đích chuyến đi</th>
        <th data-header="Nội dung hội nghị">Nội dung hội nghị</th>
        <th data-header="Nội dung việc riêng">Nội dung việc riêng</th>
        <th data-header="Ngày bắt đầu">Ngày bắt đầu</th>
        <th data-header="Tháng bắt đầu">Tháng bắt đầu</th>
        <th data-header="Ngày kết thúc">Ngày kết thúc</th>
        <th data-header="Thời gian di chuyển">Thời gian di chuyển</th>
        <th data-header="Ngày đi thực tế">Ngày đi thực tế</th>
        <th data-header="Ngày đến thực tế">Ngày đến thực tế</th>
        <th data-header="Tình trạng chuyến đi">Tình trạng chuyến đi</th>
        <th data-header="Quyết định đi nước ngoài">Quyết định đi nước ngoài</th>
        <th data-header="Báo cáo tóm tắt">Báo cáo tóm tắt</th>
        <th data-header="Quốc gia">Quốc gia</th>
        <th data-header="Loại nhân viên">Loại nhân viên</th>
        <th data-header="Tự túc">Tự túc</th>
        <th data-header="Nhà tài trợ">Nhà tài trợ</th>
        <th data-header="Bệnh viện">Bệnh viện</th>
        <th data-header="Giá trị">Giá trị</th>
        <th data-header="Tổ chức ngoài bệnh viện tài trợ">Tổ chức ngoài bệnh viện tài trợ</th>
        <th data-header="Email lãnh đạo">Email lãnh đạo</th>
        <th data-header="Số chuyến đi nước ngoài">Số chuyến đi nước ngoài</th>
        <th data-header="Ngày xin đi">Ngày xin đi</th>
        <th data-header="Ngày nhận hồ sơ">Ngày nhận hồ sơ</th>
        <th data-header="Số thông báo">Số thông báo</th>
        <th data-header="Ngày thông báo">Ngày thông báo</th>
        <th data-header="Người tiếp nhận">Người tiếp nhận</th>
        <th data-header="Số nghỉ phép">Số nghỉ phép</th>
        <th data-header="Ngày nghỉ phép">Ngày nghỉ phép</th>
        <th data-header="Ngày nộp">Ngày nộp</th>
        <th data-header="Ảnh hộ chiếu">Ảnh hộ chiếu</th>
        <th data-header="Nội dung">Nội dung</th>
        <th data-header="Tên báo cáo">Tên báo cáo</th>
        <th data-header="Hoãn/Hủy">Hoãn/Hủy</th>
        <th data-header="Khác">Khác</th>
        <th data-header="Ngày chuyển hồ sơ sang Phòng">Ngày chuyển hồ sơ sang phòng</th>
        <th data-header="Tiếp xúc cơ quan">Tiếp xúc cơ quan</th>
        <th data-header="Chấp hành bảo vệ bí mật nhà nước">Chấp hành bảo vệ bí mật nhà nước</th>
        <th data-header="Vấn đề chính trị nội bộ">Vấn đề chính trị nội bộ</th>
        <th data-header="Tình trạng quyết định">Tình trạng quyết định</th>
        <th data-header="Lý do hoãn">Lý do hoãn</th>
        <th data-header="Nội dung chuyến đi bị hoãn">Nội dung chuyến đi bị hoãn</th>
        <th data-header="Đề xuất kiến nghị">Đề xuất kiến nghị</th>
        <th data-header="Nội dung ý nghĩa áp dụng tại bệnh viện">Nội dung ý nghĩa áp dụng tại bệnh viện</th>
        <th data-header="Đăng tải thư mời">Đăng tải thư mời</th>
        <th data-header="Là nhận viên">Là nhận viên</th>
        <th data-header="Có được mời hay không">Có được mời hay không</th>
        <th data-header="Bao gồm thời gian di chuyển chưa">Bao gồm thời gian di chuyển chưa</th>
        <th data-header="Nội dung cụ thể">Nội dung cụ thể</th>
        <th data-header="Bàn giao công việc">Bàn giao công việc</th>
        <th data-header="Số ngày nghỉ phép">Số ngày nghỉ phép</th>
        <th data-header="Hoạt động ngoài kế hoạch">Hoạt động ngoài kế hoạch</th>
        <th data-header="Thông tin đính kèm">Thông tin đính kèm</th>
        <th data-header="mayte">Mã y tế</th>
        <th data-header="edit URL">link Edit</th>
        <th data-header="doc URL">link Doc</th>
        <th data-header="pdf URL">link PDF</th>
        <th data-header="increment">Tăng</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of data; let index = index" data-header="Họ và Tên">
          <td>
            <input type="checkbox" [(ngModel)]="item.selected">
          </td>
          <td>{{ (currentPage - 1) * itemsPerPage + index + 1 }}</td>
          <td data-header="Họ và Tên" (click)="goToDetailPage(item.id)" style="cursor: pointer;" class="hoverable">{{ item.fullName }} </td>
          <td>{{ item.birthDate || '' }}</td>
          <td>{{ item.gender || '' }}</td>
          <td>{{ item.cccd || '' }}</td>
          <td>{{ item.partyBranch || '' }}</td>
          <td>{{ item.partyPosition || '' }}</td>
          <td>{{ item.jobTitle || '' }}</td>
          <td>{{ item.jobName || '' }}</td>
          <td>{{ item.unit }}</td>
          <td>{{ item.phoneNumber || '' }}</td>
          <td>{{ item.email || '' }}</td>
          <td>{{ item.oral || '' }}</td>
          <td>{{ item.certificate || '' }}</td>
          <td>{{ item.restCount || '' }}</td>
          <td>{{ item.invitationUnit || '' }}</td>
          <td>{{ item.moiDichDanh || '' }}</td>
          <td>{{ item.tentcmoi || '' }}</td>
          <td>{{ item.tripPurpose || '' }}</td>
          <td>{{ item.ndhoinghi || '' }}</td>
          <td>{{ item.ndviecrieng || '' }}</td>
          <td>{{ item.startDate || '' }}</td>
          <td>{{ item.monthBegon || '' }}</td>
          <td>{{ item.endDate || '' }}</td>
          <td>{{ item.thoigiandichuyen || '' }}</td>
          <td>{{ item.ngaydithucte || '' }}</td>
          <td>{{ item.ngaydenthucte || '' }}</td>
          <td>{{ item.tinhtrangchuyendi || '' }}</td>
          <td>{{ item.qddinuocngoai || '' }}</td>
          <td>{{ item.baocaotomtat || '' }}</td>
          <td>{{ item.country || '' }}</td>
          <td>{{ item.Employee || '' }}</td>
          <td>{{ item.selfFunded || '' }}</td>
          <td>{{ item.sponsor || '' }}</td>
          <td>{{ item.hospital || '' }}</td>
          <td>{{ item.giaTri || '' }}</td>
          <td>{{ item.tcngoaiBvtaitro || '' }}</td>
          <td>{{ item.emailLD || '' }}</td>
          <td>{{ item.foreignTripCount || '' }}</td>
          <td>{{ item.ngayXindi || '' }}</td>
          <td>{{ item.ngayPnhanHS || '' }}</td>
          <td>{{ item.notificationNumber || '' }}</td>
          <td>{{ item.notificationDate || '' }}</td>
          <td>{{ item.alternative || '' }}</td>
          <td>{{ item.soNghiPhep || '' }}</td>
          <td>{{ item.ngayNghiPhep || '' }}</td>
          <td>{{ item.submitDay || '' }}</td>
          <td>{{ item.photoHochieu || '' }}</td>
          <td>{{ item.noiDung || '' }}</td>
          <td>{{ item.tenBaoCao || '' }}</td>
          <td>{{ item.hoanHuy || '' }}</td>
          <td>{{ item.khac || '' }}</td>
          <td>{{ item.ngaychuyenHSsangP || '' }}</td>
          <td>{{ item.tiepxuccoquan || '' }}</td>
          <td>{{ item.viechaphanhbaovebimatnn || '' }}</td>
          <td>{{ item.vdelienquandenchinhtrinoibo || '' }}</td>
          <td>{{ item.ttquyetdinh || '' }}</td>
          <td>{{ item.lydohoan || '' }}</td>
          <td>{{ item.ndchuyendibihoan || '' }}</td>
          <td>{{ item.dexuatkiennghi || '' }}</td>
          <td>{{ item.ndynghiaapdungvatrienkhaibenhvien || '' }}</td>
          <td>{{ item.dangtaithumoi || '' }}</td>

          <td>{{ item.lanhanvien || '' }}</td>
          <td>{{ item.codcmoihaykhong || '' }}</td>
          <td>{{ item.baogomthoigiandichuyenchua || '' }}</td>
          <td>{{ item.ndcuthe || '' }}</td>
          <td>{{ item.bangiaocv || '' }}</td>
          <td>{{ item.songaynghiphep || '' }}</td>
          <td>{{ item.hdngoaikehoach || '' }}</td>
          <td>{{ item.thongtindinhkem || '' }}</td>

          <td>{{ item.mayte || '' }}</td>
          <td>{{ item.editURL || '' }}</td>
          <td>{{ item.docURL || '' }}</td>
          <td>{{ item.pdfURL || '' }}</td>
          <td>{{ item.increment || '' }}</td>
        </tr>
        </tbody>
</table>

</div>
<div class="pagination"
  style="display: flex; justify-content: center; align-items: center; gap: 10px; margin-bottom: 50px; position: fixed; bottom: 0; width: 100%; padding: 10px;">
  <button (click)="prevPage()" [disabled]="currentPage === 1"
    style="padding: 5px 10px; background-color: #007bff; color: white; border: none; border-radius: 5px; cursor: pointer;">Trang trước</button>

  <span>Trang
    <input
      type="text"
      [(ngModel)]="pageInput"
      (keyup.enter)="goToPage()"
      min="1"
      [max]="getTotalPages()"
      style="width: 65px; text-align: center;" />

    / {{ getTotalPages() }}
  </span>

  <button (click)="nextPage()" [disabled]="currentPage === getTotalPages()"
    style="padding: 5px 10px; background-color: #007bff; color: white; border: none; border-radius: 5px; cursor: pointer;">Trang sau</button>
</div>

