.countrychart {
    display: flex;
    width: 100%;
}

.chart-section {
    flex: 7;
    padding: 10px;
}

.info-section {
    flex: 3;
    padding: 10px;
}


.namechart{
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
}


