<div class="container">
  <div class="form">
    <h2>Đăng nhập</h2>
    <form (ngSubmit)="login()">
      <input type="email" [(ngModel)]="username" name="email" placeholder="Username" required>
      <input type="password" [(ngModel)]="password" name="password" placeholder="Password" required>
      <button type="submit">Đăng nhập</button>
    </form>
    <p class="toggle">
      <a href="register">{{decodedToken | json}}</a>
    </p>
    <p class="register-link">
      <a href="/register">Đăng ký tài khoản</a>
    </p>
  </div>
</div>
