<div class="title">Chọn Quốc gia</div>
<div class="card flex justify-center sectioncountry">

    <div class="flex flex-col gap-4 scrollable">
        <div *ngFor="let country of categories" class="flex items-center">
            <p-checkbox class="-mb-[2px]" name="group" [value]="country" [(ngModel)]="selectedCategories"></p-checkbox>
            <label class="labelcountrychart">{{ country }}</label>
        </div>
    </div>
</div>
<div style="text-align: center;"><p-button label="Chọn" [raised]="true" severity="secondary" (onClick)="logSelected()"/></div>