.scrollable {
    max-height: 300px; 
    overflow-y: auto;

}
.title{
    text-align: center;
    font-size: 30px;
}

.scrollable::-webkit-scrollbar {
    width: 8px; 
}

.scrollable::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px; 
}

.scrollable::-webkit-scrollbar-thumb:hover {
    background: #aaa; 
}

.scrollable::-webkit-scrollbar-track {
    background: #f5f5f5; 
}
.labelcountrychart{
margin-bottom: -1px;

}
